body {
		font-family: Arial, Verdana, sans-serif;
		font-size: 90%;
		color: #666;
		background-image: url('poetry.png');
		background-size: cover; /* or specify a size value, e.g., background-size: 100% auto; */
	}
h1 {
    text-align: center;
    padding: 20px 20px 15px 40px;
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    color: #eef2fa;
    text-shadow: 2px 6px 2px #666666;
    
}

.Content {
    border-top: 2px solid #E7D6C4;
}

.Content p {
    margin-left: 70px;
    font-family: Arial, Verdana, sans-serif;
    font-size: 20px;
}

p {
    color: #E7D6C4;
    margin: 10px 30px 1px;
    font-size: 15px;
    font-style:oblique;
}

ul{
    border-bottom: 2px solid #AEDE94;
}

.bg {
    background-color: #F7D9C4;
    border-radius: 20px;
}

.bgt {
    background-color: #F7C6DB;
}

	li {
		color: #E7D6C4;
		list-style-image: url("icon-plus.png");
		line-height: 1.6em;
  		font-weight: bold;
    		font-size: 16px;
    		margin-left: 50px;
    		margin-bottom: 20px;
	}

	table {
 		margin: auto auto auto auto;
		border-spacing: 0px;
 		width: 880px;
    		height: 300px;
    		border-radius: 8px;
	}

	header {
   		border-left: 2px solid #AEDE94;
    		background-color: #AEDE94;
    		padding-bottom: 18px;
    		padding-top: 20px;
    		border-radius: 20px;
	}

	th, td {
		padding: 5px 30px 5px 10px;
		border-spacing: 0px;
		font-size: 90%;
		margin: 0px;
	}
			
	th, td {
		color: #E7D6C4;
		text-shadow: 1px 1px 1px #000000;
		text-align: left;
		background-color: #766B57;
		border-bottom: 2px solid #AEDE94;
		border-right: 2px solid #AEDE94;
		border-left: 2px solid #AEDE94;
	}
	
	tr.head th {
		color: #E7D6C4;
		background-color: #8CA87C;
		border-bottom: 2px solid #AEDE94;
		border-right: 2px solid #AEDE94;
		border-top: 2px solid #AEDE94;
		border-left: 2px solid #AEDE94;
		text-align: center;
		letter-spacing: 0.15em;
	}
	
	td {
		color: #E7D6C4;
		text-shadow: 1px 1px 1px #000000;
	}

	tr.even td, tr.even th {
		color: #E7D6C4;
		text-shadow: 1px 1px 1px #000000;
		background-color: #8CA87C;
	}

	tr.head th:first-child {
		-webkit-border-top-left-radius: 5px;
		-moz-border-radius-topleft: 5px;
		border-top-left-radius: 5px;
	}

	tr.head th:last-child {
		-webkit-border-top-right-radius: 5px;
		-moz-border-radius-topright: 5px;
		border-top-right-radius: 5px;
	}

	fieldset {
		width: 350px;
		margin-top: 20px;
		border: 3px solid #0000000;
		background-color: #8CA87C;
		line-height: 1.6em;
		margin: 50px auto auto auto;
	}

	legend {
		border: 2px solid #0000000;
   		background-color: #AEDE94;
    		font-style: italic;
    		color: #000000;
	}

	input[type="text"] {
		width: 120px;
		border: 1px solid #AEDE94;
		padding: 2px;
		outline: none;
	}

	input[type="text"]:focus,
	input[type="text"]:hover {
		background-color: #006633;
		border: 1px solid #999999;
	}

	input[type="submit"] {
		border: 1px solid #006633;
		background-color: #009966;
		color: #0000000;
		border-radius: 5px;
		padding: 5px;
		margin-top: 10px;
	}

	input[type="submit"]:hover {
		border: 1px solid #006633;
		background-color: #00CC33;
		color:  #00000000;
		cursor: pointer;
	}

	.title {
		float: left;
		width: 160px;
		clear: left;
	}
	.submit {
		width: 310px;
		text-align: right;
		margin: 15px auto auto auto;
	}

	